@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f0ece3;
    --foreground: #1a1a1a;

    --primary: #f89439;
    --primary-hover: #fdaf7a;
    --offwhite: #f6f4f1;
    --lightgray: #f3e6c9;
  }

  * {
    box-sizing: border-box;
    min-width: 0;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  .primary-button {
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .primary-button:hover {
    background-color: var(--primary-hover);
  }

  .primary-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .secondary-button {
    background-color: var(--offwhite);
    color: var(--primary);
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary);
    border-radius: 8px;
    cursor: pointer;
  }
}
