@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f0ece3;
    --foreground: #1a1a1a;

    --primary: #f89439;
  }

  * {
    box-sizing: border-box;
    min-width: 0;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
